.nav
{
    display: inline;
    margin-right: 15px;
}
.nav-a
{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    background-color: rgb(152, 255, 255);
}
.nav-a:hover
{
    color:rgb(0, 71, 212)
}
body
{
    background-color:rgb(176, 196, 222); 
}
.txt1
{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}